<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link},~{::script})">
<title></title>
</head>
<body>
	<div class="container">
		<table class="table table-sm">
			<thead>
				<tr>
					<th><a th:href="@{yangyuRewardDetail}" role="button"> <span
							class="fa-stack"> <i class="fa fa-square-o fa-stack-2x"></i>
								<i class="fa fa-plus fa-stack-1x"></i>
						</span>
					</a></th>
					<th>订单编号</th>
					<th>商品名称</th>
					<th>用户ID</th>
					<th>今日返现</th>
					<th>余额</th>
					<th>剩余天数</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<!--/*/ <th:block th:each="reward : ${rewards}"> /*/-->
				<tr>
					<th scope="row" th:text="${rewardStat.count}">0</th>
					<td th:text="${reward.order_code}"></td>
					<td th:text="${reward.prod_name}"></td>
					<td th:text="${reward.customer_code}"></td>
					<td th:text="${reward.today_rewards}"></td>
					<td th:text="${reward.rest_amt}"></td>
					<td th:text="${reward.rest_days}"></td>
					<td><a th:href="@{yangyuRewardDetail(rowId=${reward.id})}">
							<span class="fa-stack"><i
								class="fa fa-square-o fa-stack-2x"></i><i
								class="fa fa-pencil fa-stack-1x"></i> </span>
					</a><a th:href="@{yangyuRewardDelete(rowId=${reward.id})}"><span
							class="fa-stack"><i class="fa fa-square-o fa-stack-2x"></i><i
								class="fa fa-times fa-stack-1x"></i></span></a></td>
				</tr>
				<!--/*/ </th:block> /*/-->
			</tbody>
		</table>
	</div>
</body>
</html>