<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/base :: html_head(~{::title},~{::link},~{::script})">
<title></title>
</head>
<body>
	<div class="container">
		<form class="form-horizontal" role="form" th:object="${formData}">
			<div class="row">
				<!-- PRODUCT -->
				<div class="col">
					<input type="hidden" th:field="*{properties[id]}" />
					<div class="form-group">
						<label>商品名称 *</label> <input type="text" class="form-control"
							th:field="*{properties[prod_name]}" required="required">
					</div>
					<div class="form-group">
						<label>数量 *</label> <input type="number" class="form-control"
							th:field="*{properties[prod_count]}" required="required">
					</div>
					<div class="form-group">
						<label>成交金额 *</label> <input type="number" class="form-control"
							th:field="*{properties[prod_total_amt]}" required="required">
					</div>
					<div class="form-group">
						<label>返还天数 *</label> <input type="number" class="form-control"
							th:field="*{properties[return_days]}" required="required">
					</div>
					<div class="form-group">
						<label>订单编号</label> <input type="text" class="form-control"
							th:field="*{properties[order_code]}">
					</div>
				</div>
				<!-- CUSTOMER -->
				<div class="col">
					<div class="form-group">
						<label>名字</label> <input type="text" class="form-control"
							th:field="*{properties[customer_name]}">
					</div>
					<div class="form-group">
						<label>电话</label> <input type="text" class="form-control"
							th:field="*{properties[customer_mobile]}">
					</div>
					<div class="form-group">
						<label>用户ID</label> <input type="text" class="form-control"
							th:field="*{properties[customer_code]}">
					</div>
				</div>
			</div>

			<div class="clearfix">
				<a class="btn btn-secondary float-left" role="button"
					th:href="@{yangyuRewardList}"><span>Back</span></a>

				<button type="submit" class="btn btn-primary float-right"
					th:formaction="@{yangyuRewardSave}"
					onclick="return formValidation();" th:formmethod="post">
					<span>Save</span>
				</button>
			</div>

		</form>
	</div>
</body>
</html>